:root{
    --main-bg:#202020;
    --secondary-bg:#252525;
    --main-txt-color:white;
    --main-font: Arial, monospace;
    --secondary-color:rgb(2, 174, 231);
}   

body{
    color:var(--main-txt-color);
    font-family:var(--main-font);
    background-color:var(--main-bg);
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    height:100vh;
    transition-duration:0.5s;
}

.calculator{
    padding:30px;
    text-align:left;
    background-color:var(--secondary-bg);
    border-radius:10px;
    width:450px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.calculator *{
    margin:4px;
}
input[type=number]{
    border-radius:5px;
    width:96.5%;
    padding:8px;
    border:none;
}

button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:5px;
    background-color:var(--secondary-color);
    font-weight:bold;
    color:white;
    transition-duration:0.5s;

}

button:hover{
    color:black;
    background-color:gray;
}

select{
    border:none;
    padding:5px;
    border-radius:3px;
}

.results{
    background-color:#181818;
    font-family:monospace;
    width:100%;
    text-align:left;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:5px;
    font-size:larger;
}